# Random Forest (All Data)

# 1.1 data preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_shunyi = pd.read_csv('data/PRSA_Data_Shunyi_20130301-20170228.csv')
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,44.0,-0.9,1025.8,-20.5,0.0,NW,9.3,Shunyi
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,47.0,-1.1,1026.1,-21.3,0.0,NW,9.4,Shunyi
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,16.0,10.3,1014.2,-12.4,0.0,W,1.8,Shunyi
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,19.0,9.8,1014.5,-9.9,0.0,NW,1.5,Shunyi
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,64.0,9.1,1014.6,-12.7,0.0,NE,1.7,Shunyi
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,59.0,7.1,1015.2,-13.2,0.0,WNW,1.8,Shunyi
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,60.0,7.4,1014.9,-11.9,0.0,N,1.4,Shunyi

In [2]:
data_shunyi.isnull().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       913
PM10        548
SO2        1296
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64

In [3]:
data_null = data_shunyi[data_shunyi.isnull().T.any()]
data_null

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi
31,32,2013,3,2,7,13.0,NaN,12.0,31.0,700.0,49.0,-2.7,1032.3,-16.4,0.0,N,1.3,Shunyi
88,89,2013,3,4,16,13.0,NaN,8.0,21.0,500.0,84.0,14.9,1017.9,-13.3,0.0,SSW,3.0,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34937,34938,2017,2,23,17,NaN,NaN,2.0,17.0,300.0,NaN,7.5,1022.2,-16.0,0.0,W,4.7,Shunyi
34938,34939,2017,2,23,18,9.0,21.0,NaN,NaN,NaN,76.0,6.3,1022.2,-15.1,0.0,W,3.4,Shunyi
34944,34945,2017,2,24,0,74.0,80.0,30.0,102.0,2100.0,2.0,-1.1,1022.8,-9.2,0.0,NaN,0.2,Shunyi
34946,34947,2017,2,24,2,71.0,86.0,24.0,99.0,2200.0,2.0,-2.3,1023.0,-8.0,0.0,NaN,0.0,Shunyi
35014,35015,2017,2,26,22,87.0,118.0,20.0,99.0,1800.0,2.0,3.7,1020.7,-5.0,0.0,NaN,0.2,Shunyi

In [4]:
data_null['hour'].value_counts()

3     502
4     368
5     318
2     302
1     253
14    191
12    186
15    182
13    173
20    172
16    171
21    170
6     168
10    168
11    168
19    160
22    159
7     157
8     156
18    153
17    150
9     150
0     149
23    144
Name: hour, dtype: int64

In [5]:
data_shunyi = pd.get_dummies(data_shunyi, columns=['wd'])
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

# 1.2 Random Forest Model

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [30]:
# Need to remove NA
# Regression - Try to predict PM2.5 (y) from non PM2.5 columns (X)
# parameter: data, n(rows to shift), dependent_col, drop_cols(including dependent_col)
def valid(col,drop_cols):
    return col not in drop_cols

def randomforest(data,n,dependent_col,drop_cols):
    X = data[[x for x in data.columns if valid(x,drop_cols)]]
    y = data[dependent_col]
    if n>0:
        X = X.iloc[:-n]
        y = y.shift(-n).dropna()
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
    rf_model = RandomForestRegressor(oob_score=True)
    # Train the model
    rf_model.fit(X_train, y_train)
    print("without tuning:")
    print(rf_model.score(X_test, y_test))
    
#   Model tuning
#  1. n_estimators = 400
#     param_test1 = {'n_estimators':[100,400,800,1200,1600,2000]}
#     grid_search = GridSearchCV(estimator=RandomForestRegressor(min_samples_split=100,min_samples_leaf=20,max_depth=8,max_features='sqrt',random_state=10),
#        param_grid =param_test1,cv=5)
#     grid_search.fit(X_train,y_train)
#     print(grid_search.best_params_)
    
    
#   2. max_depth=30
#     param_test2 = {'max_depth':[10,30,50,80,100,120]}#, 'min_samples_split':[100,120,150,180,200,300]}
#     gsearch2 = GridSearchCV(estimator = RandomForestRegressor(n_estimators=400, min_samples_split=100,
#                                   min_samples_leaf=20,max_features='sqrt' ,oob_score=True, random_state=10),
#                                     param_grid = param_test2, cv=5)
#     gsearch2.fit(X_train,y_train)
#     print( gsearch2.best_params_, gsearch2.best_score_)

#   3. min_samples_split=2 and min_samples_leaf=1
#     param_test3 = {'min_samples_split':[2,4,6,8,10,20], 'min_samples_leaf':[1,3,5,7,9,11,20]}
#     gsearch3 = GridSearchCV(estimator = RandomForestRegressor(n_estimators= 400, max_depth=30,
#                                   max_features='sqrt' ,oob_score=True, random_state=10),
#     param_grid = param_test3, cv=5)
#     gsearch3.fit(X_train,y_train)
#     print( gsearch3.best_params_, gsearch3.best_score_)

#   4.max_features=11
#     param_test4 = {'max_features':[3,5,7,9,11]}
#     gsearch4 = GridSearchCV(estimator = RandomForestRegressor(n_estimators= 400, max_depth=30, min_samples_split=2,
#                                   min_samples_leaf=1 ,oob_score=True, random_state=10),
#     param_grid = param_test4, cv=5)
#     gsearch4.fit(X_train,y_train)
#     print( gsearch4.best_params_, gsearch4.best_score_)

#    new model after tunning
#     rf_model2 = RandomForestRegressor(n_estimators = 400, max_depth =30, min_samples_split=2, 
#                                       min_samples_leaf = 1, max_features=11, oob_score=True)
#     # Train the model
#     rf_model2.fit(X_train, y_train)
#     print("tuning:")
#     print(rf_model2.score(X_test, y_test))
    
    criterion=['mse','mae']
    n_estimators = [200,300,400,500,600]
    max_features = [8,11,15,20]
    max_depth = [10,20,30,40,50]
    max_depth.append(None)
    min_samples_split = [1.0,2,3,4,5]
    min_samples_leaf = [1, 2, 4]
    bootstrap = [True, False]
    random_grid = {'criterion':criterion,
                  'n_estimators': n_estimators,
                  'max_features': max_features,
                  'max_depth': max_depth,
                  'min_samples_split': min_samples_split,
                  'min_samples_leaf': min_samples_leaf,
                  'bootstrap': bootstrap}
    #构建模型
    clf= RandomForestRegressor()
    clf_random = RandomizedSearchCV(estimator=clf, param_distributions=random_grid,
                              n_iter = 10,  
                              cv = 3, verbose=2, random_state=42, n_jobs=1)
    
    clf_random.fit(X_train, y_train)
    print (clf_random.best_params_)

# results:
#n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features='auto', max_depth=80, criterion='mae', bootstrap=False
    
#     # Create a model 
#     rf_model = RandomForestRegressor(oob_score=True,n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features='auto', max_depth=80, criterion='mae', bootstrap=False)
#     # Train the model
#     rf_model.fit(X_train, y_train)
    
#     return rf_model,X_test, y_test

In [87]:
# Need to remove NA
# Regression - Try to predict PM2.5 (y) from non PM2.5 columns (X)
# parameter: data, n(rows to shift), dependent_col, drop_cols(including dependent_col)
def valid(col,drop_cols):
    return col not in drop_cols

def randomforest(data,n,dependent_col,drop_cols):
    X = data[[x for x in data.columns if valid(x,drop_cols)]]
    y = data[dependent_col]
    if n>0:
        X = X.iloc[:-n]
        y = y.shift(-n).dropna()
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
    # Create a model 
    rf_model = RandomForestRegressor(oob_score=True)
    # Train the model
    rf_model.fit(X_train, y_train)
    
    return rf_model,X_test, y_test

# 1.3 Use Random Forest for PM2.5 Concentration

In [82]:
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
data_concentration = data_shunyi.dropna()
data_concentration[:10]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,1,0,0,0,0,0,0,0,0,0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,0,0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,0,0
8,9,2013,3,1,8,8.0,8.0,3.0,19.0,400.0,...,1,0,0,0,0,0,0,0,0,0
9,10,2013,3,1,9,3.0,6.0,3.0,21.0,400.0,...,0,0,0,0,0,1,0,0,0,0
10,11,2013,3,1,10,3.0,6.0,3.0,22.0,400.0,...,1,0,0,0,0,0,0,0,0,0
11,12,2013,3,1,11,6.0,6.0,3.0,16.0,300.0,...,1,0,0,0,0,0,0,0,0,0
12,13,2013,3,1,12,8.0,8.0,3.0,12.0,300.0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
#recall random forest
drop_cols = ['No','year','day','hour','PM2.5','PM10','station']
dependent_col = 'PM2.5'
randomforest(data_concentration,1,dependent_col,drop_cols)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:737: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

without tuning:
0.8407311339653097
Fitting 3 folds for each of 10 candidates, totalling 30 fits
[CV] n_estimators=200, min_samples_split=3, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mse, bootstrap=True
[CV]  n_estimators=200, min_samples_split=3, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mse, bootstrap=True, total=  12.8s
[CV] n_estimators=200, min_samples_split=3, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mse, bootstrap=True

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   12.8s remaining:    0.0s

[CV]  n_estimators=200, min_samples_split=3, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mse, bootstrap=True, total=  12.5s
[CV] n_estimators=200, min_samples_split=3, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mse, bootstrap=True
[CV]  n_estimators=200, min_samples_split=3, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mse, bootstrap=True, total=  12.7s
[CV] n_estimators=200, min_samples_split=4, min_samples_leaf=4, max_features=20, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=200, min_samples_split=4, min_samples_leaf=4, max_features=20, max_depth=None, criterion=mse, bootstrap=False, total=  17.7s
[CV] n_estimators=200, min_samples_split=4, min_samples_leaf=4, max_features=20, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=200, min_samples_split=4, min_samples_leaf=4, max_features=20, max_depth=None, criterion=mse, bootstrap=False, total=  16.9s
[CV] n_estimators=200, min_samples_split=4, min_samples_leaf=4, max_features=20, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=200, min_samples_split=4, min_samples_leaf=4, max_features=20, max_depth=None, criterion=mse, bootstrap=False, total=  17.9s
[CV] n_estimators=300, min_samples_split=1.0, min_samples_leaf=4, max_features=11, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=300, min_samples_split=1.0, min_samples_leaf=4, max_features=11, max_depth=None, criterion=mse, bootstrap=False, total=   1.1s
[CV] n_estimators=300, min_samples_split=1.0, min_samples_leaf=4, max_features=11, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=300, min_samples_split=1.0, min_samples_leaf=4, max_features=11, max_depth=None, criterion=mse, bootstrap=False, total=   1.1s
[CV] n_estimators=300, min_samples_split=1.0, min_samples_leaf=4, max_features=11, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=300, min_samples_split=1.0, min_samples_leaf=4, max_features=11, max_depth=None, criterion=mse, bootstrap=False, total=   1.1s
[CV] n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=None, criterion=mse, bootstrap=False, total=  18.8s
[CV] n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=None, criterion=mse, bootstrap=False, total=  18.8s
[CV] n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=None, criterion=mse, bootstrap=False, total=  18.8s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=1, max_features=15, max_depth=10, criterion=mse, bootstrap=False
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=1, max_features=15, max_depth=10, criterion=mse, bootstrap=False, total=  16.8s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=1, max_features=15, max_depth=10, criterion=mse, bootstrap=False
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=1, max_features=15, max_depth=10, criterion=mse, bootstrap=False, total=  16.7s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=1, max_features=15, max_depth=10, criterion=mse, bootstrap=False
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=1, max_features=15, max_depth=10, criterion=mse, bootstrap=False, total=  16.7s
[CV] n_estimators=400, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=50, criterion=mae, bootstrap=True
[CV]  n_estimators=400, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=50, criterion=mae, bootstrap=True, total=19.9min
[CV] n_estimators=400, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=50, criterion=mae, bootstrap=True
[CV]  n_estimators=400, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=50, criterion=mae, bootstrap=True, total=20.5min
[CV] n_estimators=400, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=50, criterion=mae, bootstrap=True
[CV]  n_estimators=400, min_samples_split=4, min_samples_leaf=1, max_features=11, max_depth=50, criterion=mae, bootstrap=True, total=20.4min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=8, max_depth=20, criterion=mae, bootstrap=False
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=8, max_depth=20, criterion=mae, bootstrap=False, total=54.8min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=8, max_depth=20, criterion=mae, bootstrap=False
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=8, max_depth=20, criterion=mae, bootstrap=False, total=52.2min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=8, max_depth=20, criterion=mae, bootstrap=False
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=8, max_depth=20, criterion=mae, bootstrap=False, total=55.5min
[CV] n_estimators=200, min_samples_split=4, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mae, bootstrap=False
[CV]  n_estimators=200, min_samples_split=4, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mae, bootstrap=False, total=39.8min
[CV] n_estimators=200, min_samples_split=4, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mae, bootstrap=False
[CV]  n_estimators=200, min_samples_split=4, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mae, bootstrap=False, total=38.1min
[CV] n_estimators=200, min_samples_split=4, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mae, bootstrap=False
[CV]  n_estimators=200, min_samples_split=4, min_samples_leaf=2, max_features=20, max_depth=30, criterion=mae, bootstrap=False, total=36.2min
[CV] n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=15, max_depth=20, criterion=mse, bootstrap=True
[CV]  n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=15, max_depth=20, criterion=mse, bootstrap=True, total=  13.5s
[CV] n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=15, max_depth=20, criterion=mse, bootstrap=True
[CV]  n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=15, max_depth=20, criterion=mse, bootstrap=True, total=  13.6s
[CV] n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=15, max_depth=20, criterion=mse, bootstrap=True
[CV]  n_estimators=300, min_samples_split=4, min_samples_leaf=1, max_features=15, max_depth=20, criterion=mse, bootstrap=True, total=  13.5s
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=1, max_features=20, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=1, max_features=20, max_depth=None, criterion=mse, bootstrap=False, total= 1.0min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=1, max_features=20, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=1, max_features=20, max_depth=None, criterion=mse, bootstrap=False, total= 1.0min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=1, max_features=20, max_depth=None, criterion=mse, bootstrap=False
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=1, max_features=20, max_depth=None, criterion=mse, bootstrap=False, total= 1.0min

[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed: 344.4min finished

{'n_estimators': 300, 'min_samples_split': 4, 'min_samples_leaf': 1, 'max_features': 11, 'max_depth': None, 'criterion': 'mse', 'bootstrap': False}

In [100]:
#recall random forest
drop_cols = ['No','year','day','hour','PM2.5','PM10','station']
dependent_col = 'PM2.5'
rf_model,X_test, y_test = randomforest(data_concentration,1,dependent_col,drop_cols)
print("accurate:", rf_model.score(X_test, y_test))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model.predict(X_test)), y_test.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test.columns, rf_model.feature_importances_),
    key=lambda x: x[1], reverse=True))

Fitting 3 folds for each of 10 candidates, totalling 30 fits
[CV] n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features=auto, max_depth=80, criterion=mae, bootstrap=False

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features=auto, max_depth=80, criterion=mae, bootstrap=False, total=47.4min
[CV] n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features=auto, max_depth=80, criterion=mae, bootstrap=False

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed: 47.4min remaining:    0.0s

[CV]  n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features=auto, max_depth=80, criterion=mae, bootstrap=False, total=46.4min
[CV] n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features=auto, max_depth=80, criterion=mae, bootstrap=False
[CV]  n_estimators=200, min_samples_split=5, min_samples_leaf=4, max_features=auto, max_depth=80, criterion=mae, bootstrap=False, total=47.3min
[CV] n_estimators=800, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=100, criterion=mae, bootstrap=False
[CV]  n_estimators=800, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=100, criterion=mae, bootstrap=False, total=193.7min
[CV] n_estimators=800, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=100, criterion=mae, bootstrap=False
[CV]  n_estimators=800, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=100, criterion=mae, bootstrap=False, total=203.7min
[CV] n_estimators=800, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=100, criterion=mae, bootstrap=False
[CV]  n_estimators=800, min_samples_split=5, min_samples_leaf=2, max_features=auto, max_depth=100, criterion=mae, bootstrap=False, total=193.9min
[CV] n_estimators=200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=50, criterion=mse, bootstrap=True
[CV]  n_estimators=200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=50, criterion=mse, bootstrap=True, total=   3.5s
[CV] n_estimators=200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=50, criterion=mse, bootstrap=True
[CV]  n_estimators=200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=50, criterion=mse, bootstrap=True, total=   3.5s
[CV] n_estimators=200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=50, criterion=mse, bootstrap=True
[CV]  n_estimators=200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=50, criterion=mse, bootstrap=True, total=   3.5s
[CV] n_estimators=200, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=80, criterion=mse, bootstrap=False
[CV]  n_estimators=200, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=80, criterion=mse, bootstrap=False, total=   4.9s
[CV] n_estimators=200, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=80, criterion=mse, bootstrap=False
[CV]  n_estimators=200, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=80, criterion=mse, bootstrap=False, total=   4.9s
[CV] n_estimators=200, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=80, criterion=mse, bootstrap=False
[CV]  n_estimators=200, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=80, criterion=mse, bootstrap=False, total=   4.9s
[CV] n_estimators=1400, min_samples_split=2, min_samples_leaf=1, max_features=auto, max_depth=80, criterion=mse, bootstrap=False
[CV]  n_estimators=1400, min_samples_split=2, min_samples_leaf=1, max_features=auto, max_depth=80, criterion=mse, bootstrap=False, total= 3.2min
[CV] n_estimators=1400, min_samples_split=2, min_samples_leaf=1, max_features=auto, max_depth=80, criterion=mse, bootstrap=False
[CV]  n_estimators=1400, min_samples_split=2, min_samples_leaf=1, max_features=auto, max_depth=80, criterion=mse, bootstrap=False, total= 3.2min
[CV] n_estimators=1400, min_samples_split=2, min_samples_leaf=1, max_features=auto, max_depth=80, criterion=mse, bootstrap=False
[CV]  n_estimators=1400, min_samples_split=2, min_samples_leaf=1, max_features=auto, max_depth=80, criterion=mse, bootstrap=False, total= 3.2min
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=70, criterion=mse, bootstrap=False
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=70, criterion=mse, bootstrap=False, total=  10.0s
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=70, criterion=mse, bootstrap=False
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=70, criterion=mse, bootstrap=False, total=   9.8s
[CV] n_estimators=400, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=70, criterion=mse, bootstrap=False
[CV]  n_estimators=400, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=70, criterion=mse, bootstrap=False, total=   9.8s
[CV] n_estimators=600, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mae, bootstrap=True
[CV]  n_estimators=600, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mae, bootstrap=True, total=15.6min
[CV] n_estimators=600, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mae, bootstrap=True
[CV]  n_estimators=600, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mae, bootstrap=True, total=15.7min
[CV] n_estimators=600, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mae, bootstrap=True
[CV]  n_estimators=600, min_samples_split=10, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mae, bootstrap=True, total=15.8min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=70, criterion=mae, bootstrap=True
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=70, criterion=mae, bootstrap=True, total=60.0min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=70, criterion=mae, bootstrap=True
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=70, criterion=mae, bootstrap=True, total=59.3min
[CV] n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=70, criterion=mae, bootstrap=True
[CV]  n_estimators=600, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=70, criterion=mae, bootstrap=True, total=58.9min
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mse, bootstrap=False
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mse, bootstrap=False, total=  24.7s
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mse, bootstrap=False
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mse, bootstrap=False, total=  24.8s
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mse, bootstrap=False
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=4, max_features=sqrt, max_depth=100, criterion=mse, bootstrap=False, total=  24.9s
[CV] n_estimators=1200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, criterion=mae, bootstrap=False
[CV]  n_estimators=1200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, criterion=mae, bootstrap=False, total=75.9min
[CV] n_estimators=1200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, criterion=mae, bootstrap=False
[CV]  n_estimators=1200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, criterion=mae, bootstrap=False, total=77.1min
[CV] n_estimators=1200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, criterion=mae, bootstrap=False
[CV]  n_estimators=1200, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, criterion=mae, bootstrap=False, total=76.5min

[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed: 1199.1min finished

{'n_estimators': 600, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 70, 'criterion': 'mae', 'bootstrap': True}

TypeError: cannot unpack non-iterable NoneType object

# 1.4 Use Random Forest for PM2.5 Change

In [52]:
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
data_change = data_shunyi.copy()
data_change['PM2.5_NEXT_HOUR'] = data_change['PM2.5'].shift(-1)
data_change

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,PM2.5_NEXT_HOUR
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,1,0,0,0,0,0,0,0,0,12.0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,1,0,0,0,0,0,0,0,0,14.0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,1,0,0,0,0,0,0,0,0,12.0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,1,0,0,0,0,0,0,0,0,12.0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,1,0,0,0,0,0,0,0,0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,1,0,0,47.0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,1,0,0,0,0,0,0,0,0,18.0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,18.0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,1,0,15.0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,NaN

In [54]:
data_change = data_change.dropna()
data_change

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,PM2.5_NEXT_HOUR
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,1,0,0,0,0,0,0,0,0,12.0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,1,0,0,0,0,0,0,0,0,14.0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,0,0,0,0,0,0,0,0,0,12.0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,0,13.0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35058,35059,2017,2,28,18,15.0,35.0,6.0,39.0,500.0,...,0,0,0,0,0,0,0,0,1,27.0
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,1,0,0,47.0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,1,0,0,0,0,0,0,0,0,18.0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,18.0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,1,0,15.0

In [55]:
data_change['PM2.5_CHANGE'] = data_change['PM2.5_NEXT_HOUR']-data_change['PM2.5']
data_change

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,PM2.5_NEXT_HOUR,PM2.5_CHANGE
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,0,0,0,0,0,0,0,12.0,9.0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,0,0,0,0,0,0,0,14.0,2.0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,0,0,0,0,0,0,0,0,12.0,1.0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,13.0,1.0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,8.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35058,35059,2017,2,28,18,15.0,35.0,6.0,39.0,500.0,...,0,0,0,0,0,0,0,1,27.0,12.0
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,1,0,0,47.0,20.0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,0,0,0,0,0,0,0,18.0,-29.0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,18.0,0.0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,1,0,15.0,-3.0

In [56]:
#recall random forest
drop_cols_change = ['No','year','day','hour','PM2.5','PM10','PM2.5_NEXT_HOUR','PM2.5_CHANGE','station']
dependent_col_change = 'PM2.5_CHANGE'
rf_model_change,X_test_change, y_test_change = randomforest(data_change,0,dependent_col_change,drop_cols_change)
print("accurate:", rf_model_change.score(X_test_change, y_test_change))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model_change.predict(X_test_change)), y_test_change.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test_change.columns, rf_model_change.feature_importances_),
    key=lambda x: x[1], reverse=True))

accurate: 0.021273038813125034

predicted data and real data:
        0  PM2.5_CHANGE
0    -4.0           4.0
1     3.3           8.0
2    -4.4          -3.0
3    -0.1           3.0
4     3.6           4.0
...   ...           ...
7582 -4.3           8.0
7583  5.5          -6.0
7584 -2.8           2.0
7585  1.7          -8.0
7586  1.3          -3.0

[7587 rows x 2 columns]

feature importances:
[('CO', 0.12196340560726308), ('DEWP', 0.11686554745021224), ('NO2', 0.11488412731959073), ('WSPM', 0.1052117961265426), ('TEMP', 0.10347033552801825), ('PRES', 0.0936674069609456), ('O3', 0.09233700541797911), ('SO2', 0.08610387457953707), ('month', 0.03952422711981646), ('wd_WNW', 0.016752100903929878), ('RAIN', 0.016437182777273292), ('wd_NE', 0.01054972755057568), ('wd_SE', 0.009340695099087809), ('wd_NNE', 0.008411457220005187), ('wd_SSE', 0.00834896905637583), ('wd_SSW', 0.0063250112196833125), ('wd_ESE', 0.00591824253990768), ('wd_S', 0.005835238657510812), ('wd_N', 0.005782916854174261), ('wd_ENE', 0.00558765203122616), ('wd_NW', 0.005465625386039958), ('wd_NNW', 0.004975435122369114), ('wd_E', 0.004818367445597073), ('wd_SW', 0.004155779386604114), ('wd_W', 0.00409841994271046), ('wd_WSW', 0.0031694526970243403)]

# 1.5 Combine six hours data

In [57]:
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
#drop cols that don't need to average
data_6hours_combination = data_shunyi.drop(['No','station'],axis=1)
data_6hours_combination[:6]

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,44.0,...,0,1,0,0,0,0,0,0,0,0
1,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,47.0,...,0,1,0,0,0,0,0,0,0,0
2,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,...,0,1,0,0,0,0,0,0,0,0
3,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
4,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,...,0,1,0,0,0,0,0,0,0,0
5,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,45.0,...,1,0,0,0,0,0,0,0,0,0

In [59]:
a = data_6hours_combination.ix[2:2]
a.mean()
a.mean().to_frame().T

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,2013.0,3.0,1.0,2.0,14.0,14.0,NaN,7.0,200.0,22.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
def data_transfer(data):
    length = len(data)
    a = data.ix[:5]
    #print(type(data_test.ix[:6]))
    new_data = a.mean().to_frame().T
    index=6
    while(index+5<len(data)):
        hours_data = data.ix[index:5+index]
        #print(hours_data)
        tmp_data = hours_data.mean().to_frame().T
        new_data = pd.concat([new_data,tmp_data],axis=0)
        index=index+6
    return new_data

data_6hours_combination = data_transfer(data_6hours_combination)
data_6hours_combination.head()

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,2013.0,3.0,1.0,2.5,10.666667,11.166667,3.0,6.800000,240.000000,33.800000,...,0.166667,0.833333,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
0,2013.0,3.0,1.0,8.5,7.500000,8.500000,3.0,18.333333,350.000000,65.000000,...,0.500000,0.000000,0.0,0.0,0.0,0.166667,0.0,0.0,0.0,0.0
0,2013.0,3.0,1.0,14.5,7.166667,7.166667,3.0,11.000000,366.666667,72.833333,...,0.166667,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
0,2013.0,3.0,1.0,20.5,7.000000,10.500000,3.0,14.833333,433.333333,73.500000,...,0.000000,0.166667,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
0,2013.0,3.0,2.0,2.5,5.333333,6.166667,4.0,11.833333,333.333333,73.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [61]:
num_null = data_6hours_combination[data_6hours_combination.isnull().T.any()]
num_null

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,2013.0,3.0,9.0,14.5,NaN,NaN,NaN,NaN,NaN,89.666667,...,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
0,2013.0,3.0,9.0,20.5,NaN,NaN,NaN,NaN,NaN,43.833333,...,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.5,0.0
0,2013.0,3.0,10.0,2.5,NaN,NaN,NaN,NaN,NaN,35.000000,...,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
0,2013.0,3.0,25.0,2.5,72.666667,114.833333,9.452133,58.856633,NaN,1.570800,...,0.000000,0.000000,0.000000,0.500000,0.166667,0.000000,0.000000,0.0,0.0,0.0
0,2013.0,3.0,25.0,8.5,79.666667,104.500000,33.000000,64.000000,NaN,18.885300,...,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2016.0,10.0,9.0,8.5,NaN,6.000000,8.000000,39.000000,700.0,18.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
0,2016.0,10.0,26.0,20.5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.333333,0.0,0.0,0.0
0,2016.0,10.0,27.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.833333,0.000000,0.000000,0.000000,0.0,0.0,0.0
0,2016.0,10.0,27.0,8.5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.0,0.0,0.0
0,2016.0,11.0,1.0,20.5,90.000000,142.333333,NaN,81.666667,1350.0,6.500000,...,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0

In [62]:
len(num_null),len(data_6hours_combination)

(398, 5844)

In [63]:
data_6hours_combination.dropna(inplace=True)
data_6hours_combination

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,2013.0,3.0,1.0,2.5,10.666667,11.166667,3.000000,6.800000,240.000000,33.800000,...,0.166667,0.833333,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,2013.0,3.0,1.0,8.5,7.500000,8.500000,3.000000,18.333333,350.000000,65.000000,...,0.500000,0.000000,0.0,0.0,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000
0,2013.0,3.0,1.0,14.5,7.166667,7.166667,3.000000,11.000000,366.666667,72.833333,...,0.166667,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,2013.0,3.0,1.0,20.5,7.000000,10.500000,3.000000,14.833333,433.333333,73.500000,...,0.000000,0.166667,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,2013.0,3.0,2.0,2.5,5.333333,6.166667,4.000000,11.833333,333.333333,73.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2017.0,2.0,27.0,20.5,67.833333,95.333333,17.000000,112.000000,1050.000000,17.833333,...,0.000000,0.000000,0.0,0.0,0.166667,0.000000,0.333333,0.000000,0.000000,0.000000
0,2017.0,2.0,28.0,2.5,34.333333,36.000000,9.000000,50.000000,766.666667,44.000000,...,0.166667,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,2017.0,2.0,28.0,8.5,16.833333,25.833333,7.666667,47.500000,666.666667,42.500000,...,0.000000,0.166667,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,2017.0,2.0,28.0,14.5,8.333333,13.500000,2.333333,8.833333,233.333333,95.166667,...,0.000000,0.666667,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000
0,2017.0,2.0,28.0,20.5,23.333333,38.666667,9.500000,52.333333,650.000000,47.500000,...,0.000000,0.166667,0.0,0.0,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667

In [64]:
#recall random forest
drop_cols_6hours = ['year','day','hour','PM2.5','PM10']
dependent_col_6hours = 'PM2.5'
rf_model_6hours,X_test_6hours, y_test_6hours = randomforest(data_6hours_combination,1,dependent_col_6hours,drop_cols_6hours)
print("accurate:", rf_model_6hours.score(X_test_6hours, y_test_6hours))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model_6hours.predict(X_test_6hours)), y_test_6hours.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test_6hours.columns, rf_model_6hours.feature_importances_),
    key=lambda x: x[1], reverse=True))

accurate: 0.5631294741978647

predicted data and real data:
               0       PM2.5
0      65.566667   52.500000
1      39.516667   26.500000
2      92.340000  169.166667
3      70.950000   51.833333
4     111.366667  122.333333
...          ...         ...
1357  111.046667   52.666667
1358  168.916667  176.500000
1359   66.846667   84.166667
1360    8.958333   19.000000
1361   12.863333    7.000000

[1362 rows x 2 columns]

feature importances:
[('CO', 0.453745648523875), ('NO2', 0.11725947465939572), ('DEWP', 0.0614530987378577), ('O3', 0.05019936413015874), ('WSPM', 0.04453669824932801), ('SO2', 0.04302675432289172), ('TEMP', 0.03234792634366078), ('PRES', 0.03065679801957604), ('month', 0.024468721398552364), ('wd_SE', 0.023630213944122215), ('wd_SSE', 0.017972754277192922), ('wd_NNE', 0.009933992177475256), ('wd_S', 0.009208972233087292), ('wd_N', 0.008391271547478171), ('wd_NW', 0.007914642647397576), ('wd_ENE', 0.0076118299406722), ('wd_ESE', 0.007496185317916522), ('wd_NE', 0.007310652538437772), ('wd_SW', 0.007050975545402656), ('wd_SSW', 0.006946703506232149), ('RAIN', 0.0059909954361579264), ('wd_NNW', 0.00556225681886227), ('wd_WNW', 0.005508105498203481), ('wd_E', 0.00447083823986262), ('wd_WSW', 0.00386904256053961), ('wd_W', 0.0034360833856632517)]

# 1.6 Normalization (Concentration)

In [65]:
data_copy_concentration = data_concentration.copy()
data_copy_concentration

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,1,0,0,0,0,0,0,0,0,0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,0,0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
data_prenormalized = data_concentration.drop(['No','year','month','day','hour','PM10','station'],axis = 1)
data_prenormalized.columns

Index(['PM2.5', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN',
       'WSPM', 'wd_E', 'wd_ENE', 'wd_ESE', 'wd_N', 'wd_NE', 'wd_NNE', 'wd_NNW',
       'wd_NW', 'wd_S', 'wd_SE', 'wd_SSE', 'wd_SSW', 'wd_SW', 'wd_W', 'wd_WNW',
       'wd_WSW'],
      dtype='object')

In [67]:
data_wd = data_prenormalized[[col for col in data_prenormalized if col.startswith('wd_')]]
data_wd

,wd_E,wd_ENE,wd_ESE,wd_N,wd_NE,wd_NNE,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
35060,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
35061,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
35062,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
35063,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
data_without_wd = data_prenormalized.drop(data_wd.columns,axis=1)
data_without_wd

       PM2.5   SO2   NO2      CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0        3.0   3.0   8.0   300.0  44.0  -0.9  1025.8 -20.5   0.0   9.3
1       12.0   3.0   7.0   300.0  47.0  -1.1  1026.1 -21.3   0.0   9.4
5       11.0   3.0   7.0   200.0  45.0  -2.8  1028.2 -22.1   0.0   1.7
6       12.0   3.0   9.0   300.0  74.0  -4.0  1029.0 -21.2   0.0   1.6
7       13.0   3.0  23.0   300.0  59.0  -2.4  1030.5 -21.3   0.0   1.7
...      ...   ...   ...     ...   ...   ...     ...   ...   ...   ...
35059   27.0   8.0  92.0   800.0  16.0  10.3  1014.2 -12.4   0.0   1.8
35060   47.0  17.0  86.0  1100.0  19.0   9.8  1014.5  -9.9   0.0   1.5
35061   18.0   4.0  30.0   500.0  64.0   9.1  1014.6 -12.7   0.0   1.7
35062   18.0   9.0  33.0   500.0  59.0   7.1  1015.2 -13.2   0.0   1.8
35063   15.0  13.0  34.0   500.0  60.0   7.4  1014.9 -11.9   0.0   1.4

[30587 rows x 10 columns]

In [69]:
data_normalized_without_wd = data_without_wd.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
data_normalized_without_wd

,PM2.5,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
0,0.001316,0.009709,0.023438,0.020202,0.128863,0.284946,0.689781,0.244094,0.0,0.726562
1,0.013158,0.009709,0.019531,0.020202,0.137692,0.281362,0.695255,0.231496,0.0,0.734375
5,0.011842,0.009709,0.019531,0.010101,0.131806,0.250896,0.733577,0.218898,0.0,0.132812
6,0.013158,0.009709,0.027344,0.020202,0.217154,0.229391,0.748175,0.233071,0.0,0.125000
7,0.014474,0.009709,0.082031,0.020202,0.173008,0.258065,0.775547,0.231496,0.0,0.132812
...,...,...,...,...,...,...,...,...,...,...
35059,0.032895,0.033981,0.351562,0.070707,0.046458,0.485663,0.478102,0.371654,0.0,0.140625
35060,0.059211,0.077670,0.328125,0.101010,0.055287,0.476703,0.483577,0.411024,0.0,0.117188
35061,0.021053,0.014563,0.109375,0.040404,0.187724,0.464158,0.485401,0.366929,0.0,0.132812
35062,0.021053,0.038835,0.121094,0.040404,0.173008,0.428315,0.496350,0.359055,0.0,0.140625
35063,0.017105,0.058252,0.125000,0.040404,0.175951,0.433692,0.490876,0.379528,0.0,0.109375

In [70]:
data_normalized = pd.concat([data_normalized_without_wd,data_wd],axis=1)
data_normalized

,PM2.5,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,0.001316,0.009709,0.023438,0.020202,0.128863,0.284946,0.689781,0.244094,0.0,0.726562,...,0,1,0,0,0,0,0,0,0,0
1,0.013158,0.009709,0.019531,0.020202,0.137692,0.281362,0.695255,0.231496,0.0,0.734375,...,0,1,0,0,0,0,0,0,0,0
5,0.011842,0.009709,0.019531,0.010101,0.131806,0.250896,0.733577,0.218898,0.0,0.132812,...,1,0,0,0,0,0,0,0,0,0
6,0.013158,0.009709,0.027344,0.020202,0.217154,0.229391,0.748175,0.233071,0.0,0.125000,...,0,0,0,0,0,0,0,0,0,0
7,0.014474,0.009709,0.082031,0.020202,0.173008,0.258065,0.775547,0.231496,0.0,0.132812,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,0.032895,0.033981,0.351562,0.070707,0.046458,0.485663,0.478102,0.371654,0.0,0.140625,...,0,0,0,0,0,0,0,1,0,0
35060,0.059211,0.077670,0.328125,0.101010,0.055287,0.476703,0.483577,0.411024,0.0,0.117188,...,0,1,0,0,0,0,0,0,0,0
35061,0.021053,0.014563,0.109375,0.040404,0.187724,0.464158,0.485401,0.366929,0.0,0.132812,...,0,0,0,0,0,0,0,0,0,0
35062,0.021053,0.038835,0.121094,0.040404,0.173008,0.428315,0.496350,0.359055,0.0,0.140625,...,0,0,0,0,0,0,0,0,1,0
35063,0.017105,0.058252,0.125000,0.040404,0.175951,0.433692,0.490876,0.379528,0.0,0.109375,...,0,0,0,0,0,0,0,0,0,0

In [71]:
data_normalized.columns

Index(['PM2.5', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN',
       'WSPM', 'wd_E', 'wd_ENE', 'wd_ESE', 'wd_N', 'wd_NE', 'wd_NNE', 'wd_NNW',
       'wd_NW', 'wd_S', 'wd_SE', 'wd_SSE', 'wd_SSW', 'wd_SW', 'wd_W', 'wd_WNW',
       'wd_WSW'],
      dtype='object')

In [72]:
#recall random forest
#drop_cols = ['PM2.5','PM10','station']
dependent_col_normalized = 'PM2.5'
rf_model_normalized,X_test_normalized, y_test_normalized = randomforest(data_normalized,1,dependent_col_normalized,dependent_col_normalized)
print("accurate:", rf_model_normalized.score(X_test_normalized, y_test_normalized))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model_normalized.predict(X_test_normalized)), y_test_normalized.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test_normalized.columns, rf_model_normalized.feature_importances_),
    key=lambda x: x[1], reverse=True))

accurate: 0.8139794786788368

predicted data and real data:
             0     PM2.5
0     0.094342  0.178947
1     0.139605  0.177632
2     0.160526  0.181579
3     0.221447  0.069737
4     0.090921  0.118421
...        ...       ...
7642  0.167105  0.217105
7643  0.060526  0.050000
7644  0.031974  0.006579
7645  0.088947  0.055263
7646  0.115658  0.064474

[7647 rows x 2 columns]

feature importances:
[('CO', 0.6205649029376773), ('NO2', 0.09763888274577066), ('DEWP', 0.08229486313565977), ('SO2', 0.05052118938875596), ('O3', 0.038551445954054804), ('PRES', 0.03580634183160107), ('TEMP', 0.028460230815248476), ('WSPM', 0.02173179572874863), ('RAIN', 0.0030920448965033385), ('wd_SE', 0.002834650867705406), ('wd_NNE', 0.0020182360535600827), ('wd_ESE', 0.0019725897511829794), ('wd_SSE', 0.0019412550468207112), ('wd_N', 0.0019144705808713653), ('wd_NE', 0.0014369971701512886), ('wd_S', 0.0013581741087231197), ('wd_ENE', 0.0011797649022528825), ('wd_NW', 0.001141922795245944), ('wd_SSW', 0.0011355649870647005), ('wd_NNW', 0.0009339063933154482), ('wd_W', 0.000883347532339466), ('wd_E', 0.0008699992774720582), ('wd_WNW', 0.0006104131282510901), ('wd_WSW', 0.0005589171970193954), ('wd_SW', 0.000548092774003923)]

# 1.7 Normalization (Change)

In [73]:
data_copy_change = data_change.copy()
data_copy_change

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,PM2.5_NEXT_HOUR,PM2.5_CHANGE
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,0,0,0,0,0,0,0,12.0,9.0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,0,0,0,0,0,0,0,14.0,2.0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,0,0,0,0,0,0,0,0,12.0,1.0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,13.0,1.0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,8.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35058,35059,2017,2,28,18,15.0,35.0,6.0,39.0,500.0,...,0,0,0,0,0,0,0,1,27.0,12.0
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,1,0,0,47.0,20.0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,0,0,0,0,0,0,0,18.0,-29.0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,18.0,0.0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,1,0,15.0,-3.0

In [74]:
data_change_prenormalized = data_copy_change.drop(['No','year','month','day','hour','PM2.5','PM10','station','PM2.5_NEXT_HOUR'],axis = 1)
data_change_prenormalized.columns

Index(['SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'WSPM',
       'wd_E', 'wd_ENE', 'wd_ESE', 'wd_N', 'wd_NE', 'wd_NNE', 'wd_NNW',
       'wd_NW', 'wd_S', 'wd_SE', 'wd_SSE', 'wd_SSW', 'wd_SW', 'wd_W', 'wd_WNW',
       'wd_WSW', 'PM2.5_CHANGE'],
      dtype='object')

In [75]:
data_change_wd = data_change_prenormalized[[col for col in data_change_prenormalized if col.startswith('wd_')]]
data_change_wd

,wd_E,wd_ENE,wd_ESE,wd_N,wd_NE,wd_NNE,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35058,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
35059,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
35060,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
35061,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
35062,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [76]:
data_change_without_wd = data_change_prenormalized.drop(data_change_wd.columns,axis=1)
data_change_without_wd

        SO2   NO2      CO    O3  TEMP    PRES  DEWP  RAIN  WSPM  PM2.5_CHANGE
0       3.0   8.0   300.0  44.0  -0.9  1025.8 -20.5   0.0   9.3           9.0
1       3.0   7.0   300.0  47.0  -1.1  1026.1 -21.3   0.0   9.4           2.0
5       3.0   7.0   200.0  45.0  -2.8  1028.2 -22.1   0.0   1.7           1.0
6       3.0   9.0   300.0  74.0  -4.0  1029.0 -21.2   0.0   1.6           1.0
7       3.0  23.0   300.0  59.0  -2.4  1030.5 -21.3   0.0   1.7          -5.0
...     ...   ...     ...   ...   ...     ...   ...   ...   ...           ...
35058   6.0  39.0   500.0  67.0  12.6  1013.5 -11.9   0.0   1.3          12.0
35059   8.0  92.0   800.0  16.0  10.3  1014.2 -12.4   0.0   1.8          20.0
35060  17.0  86.0  1100.0  19.0   9.8  1014.5  -9.9   0.0   1.5         -29.0
35061   4.0  30.0   500.0  64.0   9.1  1014.6 -12.7   0.0   1.7           0.0
35062   9.0  33.0   500.0  59.0   7.1  1015.2 -13.2   0.0   1.8          -3.0

[30347 rows x 10 columns]

In [77]:
data_change_normalized_without_wd = data_change_without_wd.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
data_change_normalized_without_wd

,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,PM2.5_CHANGE
0,0.009709,0.023438,0.020202,0.128863,0.284946,0.689781,0.244094,0.0,0.726562,0.558499
1,0.009709,0.019531,0.020202,0.137692,0.281362,0.695255,0.231496,0.0,0.734375,0.550773
5,0.009709,0.019531,0.010101,0.131806,0.250896,0.733577,0.218898,0.0,0.132812,0.549669
6,0.009709,0.027344,0.020202,0.217154,0.229391,0.748175,0.233071,0.0,0.125000,0.549669
7,0.009709,0.082031,0.020202,0.173008,0.258065,0.775547,0.231496,0.0,0.132812,0.543046
...,...,...,...,...,...,...,...,...,...,...
35058,0.024272,0.144531,0.040404,0.196553,0.526882,0.465328,0.379528,0.0,0.101562,0.561810
35059,0.033981,0.351562,0.070707,0.046458,0.485663,0.478102,0.371654,0.0,0.140625,0.570640
35060,0.077670,0.328125,0.101010,0.055287,0.476703,0.483577,0.411024,0.0,0.117188,0.516556
35061,0.014563,0.109375,0.040404,0.187724,0.464158,0.485401,0.366929,0.0,0.132812,0.548565
35062,0.038835,0.121094,0.040404,0.173008,0.428315,0.496350,0.359055,0.0,0.140625,0.545254

In [78]:
data_change_normalized = pd.concat([data_change_normalized_without_wd,data_change_wd],axis=1)
data_change_normalized

,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,PM2.5_CHANGE,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,0.009709,0.023438,0.020202,0.128863,0.284946,0.689781,0.244094,0.0,0.726562,0.558499,...,0,1,0,0,0,0,0,0,0,0
1,0.009709,0.019531,0.020202,0.137692,0.281362,0.695255,0.231496,0.0,0.734375,0.550773,...,0,1,0,0,0,0,0,0,0,0
5,0.009709,0.019531,0.010101,0.131806,0.250896,0.733577,0.218898,0.0,0.132812,0.549669,...,1,0,0,0,0,0,0,0,0,0
6,0.009709,0.027344,0.020202,0.217154,0.229391,0.748175,0.233071,0.0,0.125000,0.549669,...,0,0,0,0,0,0,0,0,0,0
7,0.009709,0.082031,0.020202,0.173008,0.258065,0.775547,0.231496,0.0,0.132812,0.543046,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35058,0.024272,0.144531,0.040404,0.196553,0.526882,0.465328,0.379528,0.0,0.101562,0.561810,...,0,0,0,0,0,0,0,0,0,1
35059,0.033981,0.351562,0.070707,0.046458,0.485663,0.478102,0.371654,0.0,0.140625,0.570640,...,0,0,0,0,0,0,0,1,0,0
35060,0.077670,0.328125,0.101010,0.055287,0.476703,0.483577,0.411024,0.0,0.117188,0.516556,...,0,1,0,0,0,0,0,0,0,0
35061,0.014563,0.109375,0.040404,0.187724,0.464158,0.485401,0.366929,0.0,0.132812,0.548565,...,0,0,0,0,0,0,0,0,0,0
35062,0.038835,0.121094,0.040404,0.173008,0.428315,0.496350,0.359055,0.0,0.140625,0.545254,...,0,0,0,0,0,0,0,0,1,0

In [79]:
data_change_normalized.columns

Index(['SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'WSPM',
       'PM2.5_CHANGE', 'wd_E', 'wd_ENE', 'wd_ESE', 'wd_N', 'wd_NE', 'wd_NNE',
       'wd_NNW', 'wd_NW', 'wd_S', 'wd_SE', 'wd_SSE', 'wd_SSW', 'wd_SW', 'wd_W',
       'wd_WNW', 'wd_WSW'],
      dtype='object')

In [80]:
#recall random forest
#drop_cols_change = ['No','year','day','hour','PM2.5','PM10','PM2.5_NEXT_HOUR','PM2.5_CHANGE','station']
dependent_col_change_normalized = 'PM2.5_CHANGE'
rf_model_change_normalized,X_test_change_normalized, y_test_change_normalized = randomforest(data_change_normalized,0,dependent_col_change_normalized,dependent_col_change_normalized)
print("accurate:", rf_model_change_normalized.score(X_test_change_normalized, y_test_change_normalized))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model_change_normalized.predict(X_test_change_normalized)), y_test_change_normalized.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test_change_normalized.columns, rf_model_change_normalized.feature_importances_),
    key=lambda x: x[1], reverse=True))

accurate: -0.05968090876222387

predicted data and real data:
             0  PM2.5_CHANGE
0     0.546026      0.552980
1     0.560596      0.557395
2     0.557285      0.545254
3     0.552870      0.551876
4     0.548786      0.552980
...        ...           ...
7582  0.550993      0.557395
7583  0.555077      0.541943
7584  0.545916      0.550773
7585  0.552980      0.539735
7586  0.549779      0.545254

[7587 rows x 2 columns]

feature importances:
[('DEWP', 0.1411257824180958), ('CO', 0.13023407853417765), ('NO2', 0.10651009665131947), ('TEMP', 0.10537547808010142), ('PRES', 0.10348561746588765), ('WSPM', 0.0989025469443697), ('O3', 0.09074242549124678), ('SO2', 0.08492608830473208), ('RAIN', 0.014955422375794131), ('wd_NE', 0.012182472345600902), ('wd_SE', 0.012014837012163179), ('wd_WNW', 0.011994682150303344), ('wd_SSE', 0.011295176771359456), ('wd_NNE', 0.010662653870142903), ('wd_E', 0.00922520484370542), ('wd_SSW', 0.008425115626255208), ('wd_ESE', 0.007186489119367247), ('wd_NW', 0.00680261601490236), ('wd_NNW', 0.005989129784068452), ('wd_S', 0.005964226662090752), ('wd_N', 0.005769227801991993), ('wd_ENE', 0.005202011233525106), ('wd_SW', 0.004500553898588824), ('wd_W', 0.004182399674215415), ('wd_WSW', 0.002345666925994769)]