# Random Forest (All Data)

# 1.1 data preprocessing

In [320]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_shunyi = pd.read_csv('data/PRSA_Data_Shunyi_20130301-20170228.csv')
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,44.0,-0.9,1025.8,-20.5,0.0,NW,9.3,Shunyi
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,47.0,-1.1,1026.1,-21.3,0.0,NW,9.4,Shunyi
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,16.0,10.3,1014.2,-12.4,0.0,W,1.8,Shunyi
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,19.0,9.8,1014.5,-9.9,0.0,NW,1.5,Shunyi
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,64.0,9.1,1014.6,-12.7,0.0,NE,1.7,Shunyi
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,59.0,7.1,1015.2,-13.2,0.0,WNW,1.8,Shunyi
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,60.0,7.4,1014.9,-11.9,0.0,N,1.4,Shunyi

In [321]:
data_shunyi.isnull().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       913
PM10        548
SO2        1296
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64

In [322]:
data_null = data_shunyi[data_shunyi.isnull().T.any()]
data_null

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi
31,32,2013,3,2,7,13.0,NaN,12.0,31.0,700.0,49.0,-2.7,1032.3,-16.4,0.0,N,1.3,Shunyi
88,89,2013,3,4,16,13.0,NaN,8.0,21.0,500.0,84.0,14.9,1017.9,-13.3,0.0,SSW,3.0,Shunyi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34937,34938,2017,2,23,17,NaN,NaN,2.0,17.0,300.0,NaN,7.5,1022.2,-16.0,0.0,W,4.7,Shunyi
34938,34939,2017,2,23,18,9.0,21.0,NaN,NaN,NaN,76.0,6.3,1022.2,-15.1,0.0,W,3.4,Shunyi
34944,34945,2017,2,24,0,74.0,80.0,30.0,102.0,2100.0,2.0,-1.1,1022.8,-9.2,0.0,NaN,0.2,Shunyi
34946,34947,2017,2,24,2,71.0,86.0,24.0,99.0,2200.0,2.0,-2.3,1023.0,-8.0,0.0,NaN,0.0,Shunyi
35014,35015,2017,2,26,22,87.0,118.0,20.0,99.0,1800.0,2.0,3.7,1020.7,-5.0,0.0,NaN,0.2,Shunyi

In [323]:
data_null['hour'].value_counts()

3     502
4     368
5     318
2     302
1     253
14    191
12    186
15    182
13    173
20    172
16    171
21    170
6     168
10    168
11    168
19    160
22    159
7     157
8     156
18    153
17    150
9     150
0     149
23    144
Name: hour, dtype: int64

In [324]:
data_shunyi = pd.get_dummies(data_shunyi, columns=['wd'])
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

# 1.2 Random Forest Model

In [325]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [326]:
# Need to remove NA
# Regression - Try to predict PM2.5 (y) from non PM2.5 columns (X)
# parameter: data, n(rows to shift), dependent_col, drop_cols(including dependent_col)
def valid(col,drop_cols):
    return col not in drop_cols

def randomforest(data,n,dependent_col,drop_cols):
    X = data[[x for x in data.columns if valid(x,drop_cols)]]
    y = data[dependent_col]
    if n>0:
        X = X.iloc[:-n]
        y = y.shift(-n).dropna()
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
    # Create a model 
    rf_model = RandomForestRegressor()
    # Train the model
    rf_model.fit(X_train, y_train)
    
    return rf_model,X_test, y_test

# 1.3 Use Random Forest for PM2.5 Concentration

In [327]:
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

In [328]:
data_concentration = data_shunyi.dropna()
data_concentration[:10]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,1,0,0,0,0,0,0,0,0,0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,0,0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,0,0
8,9,2013,3,1,8,8.0,8.0,3.0,19.0,400.0,...,1,0,0,0,0,0,0,0,0,0
9,10,2013,3,1,9,3.0,6.0,3.0,21.0,400.0,...,0,0,0,0,0,1,0,0,0,0
10,11,2013,3,1,10,3.0,6.0,3.0,22.0,400.0,...,1,0,0,0,0,0,0,0,0,0
11,12,2013,3,1,11,6.0,6.0,3.0,16.0,300.0,...,1,0,0,0,0,0,0,0,0,0
12,13,2013,3,1,12,8.0,8.0,3.0,12.0,300.0,...,0,0,0,0,0,0,0,0,0,0

In [329]:
#recall random forest
drop_cols = ['No','year','day','hour','PM2.5','PM10','station']
dependent_col = 'PM2.5'
rf_model,X_test, y_test = randomforest(data_concentration,1,dependent_col,drop_cols)
print("accurate:", rf_model.score(X_test, y_test))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model.predict(X_test)), y_test.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test.columns, rf_model.feature_importances_),
    key=lambda x: x[1], reverse=True))

accurate: 0.8380450548953937

predicted data and real data:
          0  PM2.5
0      96.3  138.0
1     123.8  137.0
2     108.1  140.0
3      84.3   55.0
4      88.9   92.0
...     ...    ...
7642  167.5  167.0
7643   44.0   40.0
7644   22.2    7.0
7645   73.1   44.0
7646   82.0   51.0

[7647 rows x 2 columns]

feature importances:
[('CO', 0.6258620432966626), ('NO2', 0.09361043804392127), ('DEWP', 0.08144802425393431), ('SO2', 0.04469181146703496), ('O3', 0.0333984525680251), ('PRES', 0.031849082139994975), ('month', 0.026432679027149363), ('TEMP', 0.02479241723271467), ('WSPM', 0.016905146637740967), ('RAIN', 0.002355544406803252), ('wd_NNE', 0.0021183672132767573), ('wd_SSE', 0.001971519428627728), ('wd_SE', 0.0017323262119964384), ('wd_ENE', 0.001568840520598808), ('wd_ESE', 0.0015141392740694246), ('wd_N', 0.0014640771248814175), ('wd_NE', 0.001290421544966103), ('wd_NW', 0.0011655016392786448), ('wd_S', 0.0010523731665561206), ('wd_SSW', 0.000996137533333831), ('wd_NNW', 0.0008564959750294388), ('wd_WNW', 0.0008498717676234105), ('wd_E', 0.0006852482504062683), ('wd_W', 0.0006132409204677263), ('wd_SW', 0.0005111242338765497), ('wd_WSW', 0.00026467612102976123)]

# 1.4 Use Random Forest for PM2.5 Change

In [330]:
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

In [331]:
data_change = data_shunyi.copy()
data_change['PM2.5_NEXT_HOUR'] = data_change['PM2.5'].shift(-1)
data_change

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,PM2.5_NEXT_HOUR
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,1,0,0,0,0,0,0,0,0,12.0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,1,0,0,0,0,0,0,0,0,14.0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,1,0,0,0,0,0,0,0,0,12.0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,1,0,0,0,0,0,0,0,0,12.0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,1,0,0,0,0,0,0,0,0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,1,0,0,47.0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,1,0,0,0,0,0,0,0,0,18.0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,18.0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,1,0,15.0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,NaN

In [332]:
data_change = data_change.dropna()
data_change

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,PM2.5_NEXT_HOUR
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,1,0,0,0,0,0,0,0,0,12.0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,1,0,0,0,0,0,0,0,0,14.0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,0,0,0,0,0,0,0,0,0,12.0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,0,13.0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35058,35059,2017,2,28,18,15.0,35.0,6.0,39.0,500.0,...,0,0,0,0,0,0,0,0,1,27.0
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,1,0,0,47.0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,1,0,0,0,0,0,0,0,0,18.0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,18.0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,1,0,15.0

In [333]:
data_change['PM2.5_CHANGE'] = data_change['PM2.5_NEXT_HOUR']-data_change['PM2.5']
data_change

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW,PM2.5_NEXT_HOUR,PM2.5_CHANGE
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,0,0,0,0,0,0,0,12.0,9.0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,0,0,0,0,0,0,0,14.0,2.0
5,6,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,...,0,0,0,0,0,0,0,0,12.0,1.0
6,7,2013,3,1,6,12.0,12.0,3.0,9.0,300.0,...,0,0,0,0,0,0,0,0,13.0,1.0
7,8,2013,3,1,7,13.0,13.0,3.0,23.0,300.0,...,0,0,0,0,0,0,0,0,8.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35058,35059,2017,2,28,18,15.0,35.0,6.0,39.0,500.0,...,0,0,0,0,0,0,0,1,27.0,12.0
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,1,0,0,47.0,20.0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,0,0,0,0,0,0,0,18.0,-29.0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,18.0,0.0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,1,0,15.0,-3.0

In [334]:
#recall random forest
drop_cols_change = ['No','year','day','hour','PM2.5','PM10','PM2.5_NEXT_HOUR','PM2.5_CHANGE','station']
dependent_col_change = 'PM2.5_CHANGE'
rf_model_change,X_test_change, y_test_change = randomforest(data_change,0,dependent_col_change,drop_cols_change)
print("accurate:", rf_model_change.score(X_test_change, y_test_change))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model_change.predict(X_test_change)), y_test_change.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test_change.columns, rf_model_change.feature_importances_),
    key=lambda x: x[1], reverse=True))

accurate: -0.037099832476495065

predicted data and real data:
        0  PM2.5_CHANGE
0    -4.6           4.0
1     4.2           8.0
2    -9.6          -3.0
3     3.5           3.0
4     5.0           4.0
...   ...           ...
7582 -1.3           8.0
7583 -1.3          -6.0
7584  5.1           2.0
7585 -9.5          -8.0
7586  1.1          -3.0

[7587 rows x 2 columns]

feature importances:
[('DEWP', 0.12413802952924516), ('NO2', 0.1123376309812334), ('TEMP', 0.11097271688022078), ('CO', 0.10940646640851756), ('PRES', 0.10339072572857164), ('SO2', 0.09430377879072604), ('WSPM', 0.09014086652088123), ('O3', 0.08665820796425687), ('month', 0.03422203297852296), ('RAIN', 0.018693502649978714), ('wd_WNW', 0.014074470925883625), ('wd_SE', 0.013007459675269357), ('wd_NE', 0.00975282124777983), ('wd_NNE', 0.00907751899904918), ('wd_SSE', 0.008819279239727319), ('wd_E', 0.007704935556485121), ('wd_N', 0.006933493703859027), ('wd_NW', 0.006757467491938158), ('wd_SSW', 0.006429126124899523), ('wd_S', 0.005975522713878379), ('wd_ESE', 0.005975398172694325), ('wd_NNW', 0.005471242622966219), ('wd_ENE', 0.005407101527518045), ('wd_W', 0.00443988572287583), ('wd_SW', 0.0035443886506513604), ('wd_WSW', 0.002365929192370354)]

# 1.5 Combine six hours data

In [335]:
data_shunyi

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,...,0,1,0,0,0,0,0,0,0,0
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,...,0,1,0,0,0,0,0,0,0,0
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,...,0,1,0,0,0,0,0,0,0,0
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,...,0,1,0,0,0,0,0,0,0,0
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,...,0,0,0,0,0,0,0,1,0,0
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,...,0,1,0,0,0,0,0,0,0,0
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,...,0,0,0,0,0,0,0,0,0,0
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,...,0,0,0,0,0,0,0,0,1,0
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,...,0,0,0,0,0,0,0,0,0,0

In [336]:
#drop cols that don't need to average
data_6hours_combination = data_shunyi.drop(['No','station'],axis=1)
data_6hours_combination[:6]

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,44.0,...,0,1,0,0,0,0,0,0,0,0
1,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,47.0,...,0,1,0,0,0,0,0,0,0,0
2,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,...,0,1,0,0,0,0,0,0,0,0
3,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
4,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,...,0,1,0,0,0,0,0,0,0,0
5,2013,3,1,5,11.0,11.0,3.0,7.0,200.0,45.0,...,1,0,0,0,0,0,0,0,0,0

In [337]:
a = data_6hours_combination.ix[2:2]
a.mean()
a.mean().to_frame().T

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,...,wd_NNW,wd_NW,wd_S,wd_SE,wd_SSE,wd_SSW,wd_SW,wd_W,wd_WNW,wd_WSW
0,2013.0,3.0,1.0,2.0,14.0,14.0,NaN,7.0,200.0,22.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [338]:
def data_transfer(data):
    length = len(data)
    a = data_test.ix[:5]
    #print(type(data_test.ix[:6]))
    new_data = a.mean().to_frame().T
    index=6
    while(index+5<len(data)):
        hours_data = data_test.ix[index:5+index]
        #print(hours_data)
        tmp_data = hours_data.mean().to_frame().T
        new_data = pd.concat([new_data,tmp_data],axis=0)
        index=index+6
    return new_data

data_6hours_combination = data_transfer(data_6hours_combination)
data_6hours_combination.head()

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
0,2013.0,3.0,1.0,2.5,10.666667,11.166667,3.0,6.800000,240.000000,33.800000,-1.833333,1026.883333,-22.183333,0.0,6.683333
0,2013.0,3.0,1.0,8.5,7.500000,8.500000,3.0,18.333333,350.000000,65.000000,-0.833333,1030.700000,-21.716667,0.0,1.783333
0,2013.0,3.0,1.0,14.5,7.166667,7.166667,3.0,11.000000,366.666667,72.833333,4.216667,1028.950000,-20.333333,0.0,2.200000
0,2013.0,3.0,1.0,20.5,7.000000,10.500000,3.0,14.833333,433.333333,73.500000,0.616667,1032.033333,-18.316667,0.0,2.000000
0,2013.0,3.0,2.0,2.5,5.333333,6.166667,4.0,11.833333,333.333333,73.000000,-1.950000,1033.100000,-17.883333,0.0,1.683333

In [339]:
num_null = data_6hours_combination[data_6hours_combination.isnull().T.any()]
num_null

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
0,2013.0,3.0,9.0,14.5,NaN,NaN,NaN,NaN,NaN,89.666667,10.333333,1011.000000,-17.133333,0.0,6.650000
0,2013.0,3.0,9.0,20.5,NaN,NaN,NaN,NaN,NaN,43.833333,4.916667,1021.750000,-17.283333,0.0,4.350000
0,2013.0,3.0,10.0,2.5,NaN,NaN,NaN,NaN,NaN,35.000000,-1.500000,1024.066667,-12.150000,0.0,0.700000
0,2013.0,3.0,25.0,2.5,72.666667,114.833333,9.452133,58.856633,NaN,1.570800,-0.033333,1020.000000,-6.083333,0.0,1.466667
0,2013.0,3.0,25.0,8.5,79.666667,104.500000,33.000000,64.000000,NaN,18.885300,3.366667,1020.533333,-6.483333,0.0,1.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2016.0,10.0,9.0,8.5,NaN,6.000000,8.000000,39.000000,700.0,18.000000,8.150000,1021.616667,2.750000,0.0,1.166667
0,2016.0,10.0,26.0,20.5,NaN,NaN,NaN,NaN,NaN,NaN,11.300000,1023.750000,3.316667,0.0,2.383333
0,2016.0,10.0,27.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN,9.684722,1024.938889,1.950000,0.0,1.383333
0,2016.0,10.0,27.0,8.5,NaN,NaN,NaN,NaN,NaN,NaN,9.465833,1024.350000,1.533333,0.0,0.983333
0,2016.0,11.0,1.0,20.5,90.000000,142.333333,NaN,81.666667,1350.0,6.500000,1.450000,1027.500000,-4.150000,0.0,0.733333

In [340]:
len(num_null),len(data_6hours_combination)

(398, 5844)

In [341]:
data_6hours_combination.dropna(inplace=True)
data_6hours_combination

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
0,2013.0,3.0,1.0,2.5,10.666667,11.166667,3.000000,6.800000,240.000000,33.800000,-1.833333,1026.883333,-22.183333,0.0,6.683333
0,2013.0,3.0,1.0,8.5,7.500000,8.500000,3.000000,18.333333,350.000000,65.000000,-0.833333,1030.700000,-21.716667,0.0,1.783333
0,2013.0,3.0,1.0,14.5,7.166667,7.166667,3.000000,11.000000,366.666667,72.833333,4.216667,1028.950000,-20.333333,0.0,2.200000
0,2013.0,3.0,1.0,20.5,7.000000,10.500000,3.000000,14.833333,433.333333,73.500000,0.616667,1032.033333,-18.316667,0.0,2.000000
0,2013.0,3.0,2.0,2.5,5.333333,6.166667,4.000000,11.833333,333.333333,73.000000,-1.950000,1033.100000,-17.883333,0.0,1.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2017.0,2.0,27.0,20.5,67.833333,95.333333,17.000000,112.000000,1050.000000,17.833333,10.483333,1015.300000,-7.500000,0.0,1.600000
0,2017.0,2.0,28.0,2.5,34.333333,36.000000,9.000000,50.000000,766.666667,44.000000,6.100000,1016.616667,-7.783333,0.0,0.966667
0,2017.0,2.0,28.0,8.5,16.833333,25.833333,7.666667,47.500000,666.666667,42.500000,6.883333,1017.133333,-8.700000,0.0,1.300000
0,2017.0,2.0,28.0,14.5,8.333333,13.500000,2.333333,8.833333,233.333333,95.166667,14.633333,1013.966667,-13.233333,0.0,4.250000
0,2017.0,2.0,28.0,20.5,23.333333,38.666667,9.500000,52.333333,650.000000,47.500000,9.383333,1014.483333,-12.000000,0.0,1.583333

In [342]:
#recall random forest
drop_cols_6hours = ['year','day','hour','PM2.5','PM10']
dependent_col_6hours = 'PM2.5'
rf_model_6hours,X_test_6hours, y_test_6hours = randomforest(data_6hours_combination,1,dependent_col_6hours,drop_cols_6hours)
print("accurate:", rf_model_6hours.score(X_test_6hours, y_test_6hours))
print()
print("predicted data and real data:")
print(pd.concat([pd.Series(rf_model_6hours.predict(X_test_6hours)), y_test_6hours.reset_index(
drop=True)], axis=1))
print()
print("feature importances:")
print(sorted(zip(X_test_6hours.columns, rf_model_6hours.feature_importances_),
    key=lambda x: x[1], reverse=True))

accurate: 0.5077525257310611

predicted data and real data:
               0       PM2.5
0      76.216667   52.500000
1      52.083333   26.500000
2      96.950000  169.166667
3      58.333333   51.833333
4      94.383333  122.333333
...          ...         ...
1357  110.300000   52.666667
1358  158.843333  176.500000
1359   58.266667   84.166667
1360   13.043333   19.000000
1361   10.713333    7.000000

[1362 rows x 2 columns]

feature importances:
[('CO', 0.4634517878048642), ('NO2', 0.16206023464893116), ('DEWP', 0.08008463049242154), ('O3', 0.06237023321423339), ('SO2', 0.06073365512517911), ('WSPM', 0.052735730848220565), ('PRES', 0.04379326411933869), ('TEMP', 0.04325789306229645), ('month', 0.0239097753034248), ('RAIN', 0.007602795381090216)]